body {
    font-family: "Source Sans Pro", sans-serif;
    color: #252a34;
    font-weight: 300;
    background: #f6f6f6;
    width: 100%;
    height: 100%;
  }

.container {
  margin:auto;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

h2 {
  font-size: 30px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  footer p {
    color: #252a34;
  }
